<div class="card">
  <img class="card__img" src="{{user.avatar}}" alt="">
  <div class="card__description">
    <p>Name: <span>{{user.name}}</span></p>
    <p>Job: <span>{{user.job}}</span></p>
    <p>Job description: <span>{{user.description}}</span></p>
  </div>
</div>
