.card {
  display: flex;
  margin-bottom: 20px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.08);
  border-radius: 5px;
  width: 400px;
}
.card__img {
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  margin-right: 20px;
}

.card__description p {
  color: #444;
}
.card__description span {
  color: #000;
}
