<span>App</span>

<div class="card-wrapper">
  <ng-container *ngFor="let user of users; let i = index">
    <app-card *ngIf="i > perPage * (currentPage - 1) && i < perPage * currentPage" [user]="user"></app-card>
  </ng-container>
</div>

<app-pagination
  [total]="total"
  [perPage]="perPage"
  [currentPage]="currentPage"
  (pageChangeHandler)="pageChangeHandler($event)"
  (perPageChangeHandler)="perPageChangeHandler($event)"
>
</app-pagination>

