.pagination {
  display: flex;
}
.pagination__page-number {
  display: inline-block;
}
.pagination__page-number span {
  cursor: pointer;
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
}
.pagination__page-number span.active {
  background-color: #1976d2;
  color: white;
  border: 1px solid #1976d2;
}

.pagination__select {
  height: 36px;
  border: 1px solid #ccc;
  border-radius: 0 !important;
  background: #fff;
  outline: none;
  margin-left: 20px;
  cursor: pointer;
}
