<div class="pagination">
  <div class="pagination__page-number" *ngIf="pageNumbers[0] !== currentPage">
    <span (click)="pageHandler(currentPage - 1)">&laquo;</span>
  </div>

  <ng-container *ngFor="let number of pageNumbers">
    <div *ngIf="number === 1 || number === pageNumbers.length || (number >= currentPage - 2 && number <= currentPage + 2)"
         class="pagination__page-number">
      <span class="{{number === currentPage ? 'active' : ''}}"
            (click)="pageHandler(number)">
        {{number}}
      </span>
    </div>
  </ng-container>

  <div class="pagination__page-number"  *ngIf="pageNumbers[pageNumbers.length - 1] !== currentPage">
    <span (click)="pageHandler(currentPage + 1)">&raquo;</span>
  </div>

  <select class="pagination__select" [value]="perPage" (change)="perPageHandler($event.target.value)">
    <option>5</option>
    <option>10</option>
    <option>15</option>
    <option>20</option>
  </select>
</div>
